.komposer {
  --placeholder-color: #9197a3;
  --placeholder-color-focused: #bdc1c9;
}

body[data-komposer-theme='#FFFFFF'] .komposer-suggest-area {
  --suggest-background: #ffffff;
  --suggest-hover-color: #f5f8fa;
  --suggest-border-color: #e6ecf0;
  --suggest-label-color: black;
}

body[data-komposer-theme='#15202B'] .komposer-suggest-area {
  --suggest-background: #15202b;
  --suggest-hover-color: #192734;
  --suggest-border-color: #38444d;
  --suggest-label-color: white;
}

body[data-komposer-theme='#181A1B'] .komposer-suggest-area {
  --suggest-background: #181a1b;
  --suggest-hover-color: #252828;
  --suggest-border-color: #444550;
  --suggest-label-color: white;
}

body[data-komposer-theme='#000000'] .komposer-suggest-area {
  --suggest-background: #000000;
  --suggest-hover-color: #15181c;
  --suggest-border-color: #2f3336;
  --suggest-label-color: white;
}

textarea.komposer {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-height: 30rem;
  padding: 0;
  border: 0;
  outline: 0;
  resize: none;
  font-size: inherit;
  font-family: 'Twemoji', sans-serif;
  background-color: inherit;
  color: inherit;
}

textarea.komposer:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

body[data-komposer-theme='#FFFFFF'] .komposer-suggest-area {
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
}

/* 화면크기 변경 등 일부 조건에서 트위터 Typeahead가 나타나는 경우가 있다. */
/* 그래서 이를 숨기도록 함. */
div[id^='typeaheadDropdownWrapped'] {
  visibility: hidden !important;
  display: none !important;
}

.komposer-suggest-area {
  width: 400px;
  position: absolute;
  z-index: 999;
  background-color: var(--suggest-background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.komposer-suggest-item {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: left;
  border: 0;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.komposer-suggest-item.mention {
  padding: 10px 15px;
}

.komposer-suggest-item.hashtag {
  padding: 15px;
}

.komposer-suggest-item:not(:first-child) {
  border-top: 1px solid var(--suggest-border-color);
}

.komposer-suggest-item .image {
  width: 48;
  height: 48;
  margin-right: 15px;
  border-radius: 50%;
  background-color: lightgray;
}

.komposer-suggest-item .label,
.komposer-suggest-item .primary,
.komposer-suggest-item .secondary {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.komposer-suggest-item .label,
.komposer-suggest-item .double-label {
  overflow: hidden;
  flex-grow: 1;
  font-size: 16px;
}

.komposer-suggest-item.selected {
  background-color: var(--suggest-hover-color);
}

.komposer-suggest-item.selected .label,
.komposer-suggest-item.selected .double-label {
  font-weight: bold;
}

.komposer-suggest-item .double-label {
  display: flex;
  flex-direction: column;
}

.double-label .secondary {
  margin-top: 2px;
  font-size: 14px;
  opacity: 0.7;
}

.komposer-suggest-item:hover {
  background-color: var(--suggest-hover-color);
}

.label,
.double-label {
  color: var(--suggest-label-color);
}

.badge {
  height: 1em;
  margin: 0 2px;
  vertical-align: text-top;
  fill: currentColor;
}

.hashflag {
  height: 1em;
  margin: 0 5px;
  vertical-align: text-top;
}

/* 작은 화면 (모바일) */
main[role='main'] textarea.komposer {
  min-height: 8rem;
}

/* DM 넓은 화면 */
main[role='main'] aside[role='complementary'] textarea.komposer {
  min-height: initial;
}

/* 넓은 화면 (데스크탑, 3칼럼 구조, 타임라인 상단부분) */
main[role='main'] div[data-testid='primaryColumn'] textarea.komposer {
  min-height: initial;
}

div[aria-modal='true'] textarea.komposer {
  min-height: 6rem;
}

/* https://css-tricks.com/almanac/selectors/p/placeholder/ */
textarea.komposer::-moz-placeholder {
  color: var(--placeholder-color);
}

textarea.komposer:focus::-moz-placeholder {
  color: var(--placeholder-color-focused);
}

textarea.komposer::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

textarea.komposer:focus::-webkit-input-placeholder {
  color: var(--placeholder-color-focused);
}
